{
  "extends": [
    "plugin:cypress-dev/general",
    "plugin:cypress-dev/tests"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "no-debugger": "off",
    "array-bracket-newline": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "MemberExpression": "off"
      }
    ]
  }
}
